.logo-box {
	max-width: 70%;
	border-bottom: 1px solid #2e303a;
	margin: 7px;
}
.logo-box img {
	width: 60%;
}

.text-logo {
	line-height: 1;

	
	animation: anim-logo 7s linear infinite;
}

@keyframes anim-logo {
	0% {
		scale: 1;
		color: #2a7b9b;
	}
	50% {
		scale: 1.3;
		color: #EDDD53;
	}
	100% {
		scale: 1;
		color: #2a7b9b;
		
	}
}

@media (max-width: 1000px) {
	.logo-box {
		width: 100%;
	}
	.logo-box img {
		width: 100%;
	}
}
